<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <title>Renting Website</title>
</head>
<body>
    <header>
        <div class="logo">
            <h1>Rent & Buy</h1>
        </div>
        <nav>
            <ul>
                <li><a href="../pages/home.html">Home</a></li>
                <li><a href="../pages/rent.html">Rent</a></li>
                <li><a href="../pages/buy.html">Buy</a></li>
                <li><a href="../pages/register.html">Register</a></li>
                <li><a href="../pages/login.html">Login</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>