<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <title>Navbar</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="../pages/home.html">Rent & Buy</a>
        </div>
        <ul class="navbar-menu">
            <li><a href="../pages/rent.html">Rent</a></li>
            <li><a href="../pages/buy.html">Buy</a></li>
            <li><a href="../pages/register.html">Register</a></li>
            <li><a href="../pages/login.html">Login</a></li>
            <li><a href="../pages/upload.html">Upload</a></li>
        </ul>
    </nav>
</body>
</html>